.btn {
  &-primary {
    &:hover {
      background-color: #eec32a;
      color: $dark;
    }
  }
}

.hover {
  &-primary {
    &:hover {
      background-color: $primary !important;
      color: $white;
    }
  }
}
